[Unit]
Description=mpv-web-catalog

[Service]
ExecStart=gunicorn mpv_web_catalog.wsgi:app -b 0.0.0.0:3239
Restart=on-failure

[Install]
WantedBy=default.target
